#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 40px;
  height: 40px;
  font-size: 34px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 20px;
}

button[type="submit"] {
  margin: 12px;
  font-size: 34px;
  padding: 10px;
  background-color: gold;
  text-transform: uppercase;
}